@font-face {
  font-family: Main;
  src: url(../fonts/Montserrat-Regular.ttf);
}
body {
  margin: 0;
  font-family: Main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 2px 30px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --main: #cb9ca1;
  --pink: #ffcdd2;
}

h2,
p {
  margin: 0px;
}

.form-colomn {
  display: flex;
  gap: 5%;
  justify-content: center;
  flex-wrap: wrap;
  width: 120%;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

pre {
  margin: 0;
  width: 100%;
}

.removed {
  color: rgba(206, 15, 15, 0.984);
  cursor: pointer;
  display: inline;
}

.changed {
  color: rgba(182, 21, 210, 0.925);
  cursor: pointer;
  display: inline;
}

.unchanged {
  cursor: pointer;
  display: inline;
}

.added {
  color: green;
  cursor: pointer;
  display: inline;
}

.deep1 {
  padding-left: 20px;
}

.deep3 {
  margin-left: 3px;
}

textarea {
  width: 100% !important;
  min-width: 300px !important;
  min-height: 300px !important;
  padding: 5px;
  background: #daf7fe;
  border-radius: 4px;
  white-space: pre;
  word-wrap: normal;
  font-size: 12px !important;
  resize: horizontal !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete {
  background-color: rgba(244, 103, 117, 0.9098039216);
}

.addedSpece {
  background-color: rgba(201, 249, 184, 0.909);
}

.line-number {
  margin: 0 1em 0 -1em;
  border-right: 1px solid #eee;
  color: #bbb;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.line-number {
  font: normal normal 13px/16px monospace;
  font-family: Monaco, monospace;
  color: black;
  display: block;
}

.result-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

.result-left,
.result-right {
  border: 1.5px solid;
  border-radius: 10px;
  border-color: rgb(248, 172, 223);
  width: 50%;
  max-width: 450px !important;
}

.drop-container {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
  gap: 2.5%;
}
.drop-container .drop-btn {
  font-size: 0.7em !important;
  background-color: var(--pink);
  margin-left: 5px;
}
.drop-container .danger-btn {
  font-size: 0.7em !important;
  border-radius: 50px;
  padding: 3px 6px !important;
  background-color: rgba(245, 84, 100, 0.9098039216);
  margin-right: 5px;
}

.drop-file {
  display: flex;
  align-items: center;
  gap: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-control {
  background-color: rgba(247, 246, 246, 0.995) !important;
}
.form-control:focus {
  border-color: #b2dfdb !important;
  box-shadow: 0 0 0 0.25rem rgba(162, 241, 232, 0.742);
}

.form-invalid {
  box-shadow: 1px 1px 8px 0px rgba(245, 84, 100, 0.9098039216) !important;
}
.form-invalid:focus {
  box-shadow: 3px 3px 9px 1px rgba(245, 84, 100, 0.9098039216) !important;
}

.invalid {
  color: rgba(244, 32, 53, 0.91);
  font-size: 13px;
  font-weight: 600;
}

.form-label {
  margin-top: 3px;
  margin-bottom: 3px;
}

.main-bth {
  background-color: #ef9a9a;
}

.btn-res {
  border-color: #b2dfdb !important;
  background-color: #c6ece8 !important;
}

.container {
  margin-bottom: 15px;
}

.countDifferents {
  display: block;
  background-color: #9ef3cd;
  margin: 10px 0 15px;
  padding: 5px 7px;
  border-radius: 10px;
}

.plan-container {
  margin: 0 auto;
  width: 60%;
}

.plan-result {
  border: 1.5px solid;
  border-radius: 10px;
  border-color: rgb(248, 172, 223);
  padding: 15px 10px 15px 20px;
  word-wrap: break-all;
}

@media screen and (max-width: 1000px) {
  .plan-result {
    font-size: 12px;
  }
  .plan-result div {
    word-wrap: break-all;
  }
  .plan-container {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .container {
    padding: 0;
  }
  .result-left, .result-right {
    font-size: 12px;
    width: 70%;
  }
  .result-container {
    flex-wrap: wrap;
  }
  .card {
    width: 70%;
  }
}
@media screen and (max-width: 450px) {
  .result-left, .result-right {
    width: 100%;
  }
}
