body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-colomn {
  display: flex;
  gap: 5%;
  justify-content: center;
  width: 120%;

}

.app {
  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

pre {
  margin: 0;
  
  width: 100%;


}

.removed {
  color: rgba(206, 15, 15, 0.984);
  cursor: pointer;

}

.changed {
  color: rgb(179, 12, 216);
  cursor: pointer;

}

.added {
 color: green;
 cursor: pointer;

}


.deep1 {
  padding-left: 20px;
}

.deep3 {
  margin-left: 3px;
}

.result-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap:5%;
}

textarea {
  width: 100%! important;
  min-width: 300px!important;
  min-height: 300px!important;
  padding: 5px;
  background: #daf7fe;
  border-radius: 4px;
  white-space: pre;
  word-wrap: normal;
  font-size: 12px!important;
  resize: horizontal !important;

}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete{
  background-color: rgba(255, 169, 169, 0.909);
}
.addedSpece{
  background-color: rgba(201, 249, 184, 0.909);

}

.line-number {
  margin: 0 1em 0 -1em;
  border-right: 1px solid #eee;
  color: #bbb;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.line-number {
  font: normal normal 13px/16px monospace;
  font-family: Monaco, monospace;
  color: black;
  display: block;
}
.result-left, .result-right{
  border: 1.5px solid;
  border-radius: 10px;
  border-color: rgb(248, 172, 223);
}